# File di sistema macOS
.DS_Store
.DS_Store?
*.DS_Store
*.DS_Store?
._*
.Spotlight-V100
.Trashes

# Cartelle delle miniature
ehthumbs.db
Thumbs.db

# Dati temporanei o montaggi su disco
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# File di configurazione dell'editor (opzionale ma consigliato)
.vscode/
.idea/
*.swp
*.swo
